{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}{{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}



{% block body %}

<div class="pb-5">
    {{ form_start(form) }}

    <label for="">Titre</label>
    {{ form_row(form.title) }}

    <label for="">Prix</label>
    {{ form_row(form.price) }}

    <label for="">Référence</label>
    {{ form_row(form.reference) }}

    <label for="">Description</label>
    {{ form_row(form.description, { 'attr':{'placeholder':'veuillez saisir le texte'}}) }}

    <label for="">Photo</label>
    {{ form_row(form.picture) }}

    <label for="">Marque</label>
    {{ form_row(form.brand) }}

    <label for="">Section</label>
    {{ form_widget(form.gender) }}

    <div class="mt-3">
    {{ form_row(form.Enregistrer) }}
    </div>
    {{ form_end(form) }}

    </div>





{% endblock %}




