{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}accueil
{% endblock %}




{% block body %}
    <div >
            <a href="{{ path('filterProduct', {param: 'femme' }) }}" type="button"
               class="btn btn-dark rounded ">Femme</a>
            <a href="{{ path('filterProduct', {param: 'homme' }) }}" type="button"
               class="btn btn-dark rounded mx-2">Homme</a>
            <a href="{{ path('filterProduct', {param: 'enfant'}) }}" type="button"
               class="btn btn-dark rounded">Enfant</a>

    </div>
    <div class="row justify-content-between ms-0 mt-3">

        {% for product in products %}

            <div  class="col-md-3">
        <a href="{{ path('detailProduct', { id : product.id }) }}" class="text-decoration-none"><div class="card " style="width: 18rem;">
                <img src="{{ asset('upload/') }}{{ product.picture }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h4 class="card-title">{{ product.price | format_currency('EUR') }} </h4>
                    <p class="card-text">{{ product.description }}</p>
                </div>
            </div></a>
            </div>
        {% endfor %}

    </div>
{% endblock %}
