{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}accueil
{% endblock %}


{% block titre %}

    Bienvenue!
{% endblock %}

{% block body %}
    <div class="row justify-content-between">

        {% for product in products %}

        <div class="card col-md-3" style="width: 18rem;">
            <img src="{{ asset('upload/') }}{{ product.picture }}" class="card-img-top" alt="{{ product.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <h4 class="card-title">{{ product.price | format_currency('EUR') }} </h4>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ path('addCart', { id: product.id, param: 'home' }) }}" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>

        {% endfor %}

    </div>
{% endblock %}
