{% extends 'panelAdmin.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <form class="mb-5" action="{{ path('addStock', {id: product.id}) }}" method="post" >

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Stock</label>
            <input type="number" name="value" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Taille</label>
            <select class="form-select" name="size" aria-label="Default select example">
                <option selected>sélectionner la taille</option>
                {% for size in product.sizes %}
                <option value="{{ size.id }}">{{ size.title }}</option>
                {% endfor %}
            </select>
        </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Couleur</label>
                <select class="form-select" name="color" aria-label="Default select example">
                    <option selected>sélectionner la couleur</option>
                    {% for color in product.colors %}
                    <option value="{{ color.id }}">{{ color.title }}</option>
                    {% endfor %}
                </select>
            </div>
        <input type="hidden" name="id" value="{{ product.id }}">






        <button type="submit" class="btn btn-primary">
            Valider

        </button>
    </form>
{% endblock %}

