{% extends 'panelAdmin.html.twig' %}

{% block body %}


    {{ form(form) }}

    <table class="table table-dark mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for category  in  categories %}


            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.title }}</td>
                <td>
                    <a href="{{ path('editCategory', { id:category.id  }) }}"><img src="{{ asset('update.png') }}" alt="modifier"></a>
                    <a href="{{ path('deleteCategory', {'id': category.id}) }}" onclick="return confirm('Etes-vous de vouloir supprimer cette categorie')"  ><img src="{{ asset('delete.png') }}" alt="supprimer"></a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>







{% endblock %}

{% block title %}
  {{ parent() }}{{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}


