{% extends 'panelAdmin.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <form class="mb-5" action="{{ path('editPromo', { id: promo.id, param:param}) }}" method="post" >
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Code promo</label>
            <input type="text" name="code" value="{{ promo.code }}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Date de début</label>
            <input type="date" name="startDate" {% if promo.startDate is not null %} value="{{ promo.startDate | date('Y-m-d')}}" {% else %} value=null {% endif %}  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Date de fin</label>
            <input type="date" name="endDate" {% if promo.endDate is not null %} value="{{ promo.endDate | date('Y-m-d')}}" {% else %} value=null {% endif %} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Valeur</label>
            <input type="number" name="value" value="{{ promo.value }}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Type</label>
            <select class="form-select" name="type" aria-label="Default select example">
                <option {% if promo.type == 0 %} selected {% endif%} value="0">Remise en pourcentage</option>
                <option {% if promo.type == 1 %} selected {% endif%} value="1">Remise fixe</option>
            </select>
        </div>

        {% if param== 'section' %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{{ param }}</label>
                <select class="form-select" name="section" aria-label="Default select example">
                    <option {% if param=='section' and  promo.section is not null and promo.section == 'femme' %} selected {% endif%} value="femme">Femme</option>
                    <option {% if param=='section' and promo.section is not null and promo.section == 'enfant' %} selected {% endif%} value="enfant">Enfant</option>
                    <option {% if param=='section' and promo.section is not null and promo.section == 'homme' %} selected {% endif%} value="homme">Homme</option>
                </select>
            </div>
        {% endif %}

        {% if param== 'category' %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{{ param }}</label>
                <select class="form-select" name="category" aria-label="Default select example">
                    <option selected>sélectionner la {{ param }} visée</option>
                    {% for category in categories %}
                        <option {% if param=='category' and promo.subCategory is not null and promo.subCategory.id == category.id %} selected {% endif%} value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if param=='subCategory' %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{{ param }}</label>
                <select class="form-select" name="subCategory" aria-label="Default select example">
                    <option selected>sélectionner la {{ param }} visée</option>
                    {% for subCategory in subCategories %}
                        <option {% if param=='subCategory' and promo.category is not null and promo.category.id == subCategory.id %} selected {% endif%} value="{{ subCategory.id }}">{{ subCategory.title }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Modifier la cible ?</label><br>
            {% if param != 'category' %}
                <a href="{{ path('editPromo', { id: promo.id, param: 'category' }) }}" class="btn btn-primary">Affecter à catégorie</a>
            {% endif %}
            {% if param != 'subCategory' %}
                <a href="{{ path('editPromo', {id: promo.id,  param: 'subCategory' }) }}" class="btn btn-primary">Affecter à sous-category</a>
            {% endif %}
            {% if param != 'section' %}
                <a href="{{ path('editPromo', { id: promo.id, param: 'section' }) }}" class="btn btn-primary">Affecter à section</a>
            {% endif %}



        </div>




        <button type="submit" class="btn btn-primary">
            Valider

        </button>
    </form>
{% endblock %}

