{% extends 'panelAdmin.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {{ form(form) }}

    <table class="table table-dark mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom du fournisseur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for supplier in suppliers %}

            <tr>
                <th scope="row">{{ supplier.id }}</th>
                <td>{{ supplier.title }}</td>
                <td>
                    <a href="{{ path('editSuppliers', { id:supplier.id }) }}"><img src="{{ asset('update.png') }}" alt="modifer"></a>
                    <a href="{{ path('deleteSuppliers', { id:supplier.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce fournisseur ?')"><img src="{{ asset('delete.png') }}" alt="supprimer"></a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

