{% extends 'panelAdmin.html.twig' %}

{% block body %}
    <form class="d-flex" method="post" action="{{ path('searchRef') }}">
        <input class="form-control me-sm-2" type="text" name="search" placeholder="Rechercher reference">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
    </form>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Ref</th>
            <th scope="col">Taille</th>
            <th scope="col">Couleur</th>
            <th scope="col">Stock</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for stock  in  stocks %}


            <tr>
                <th scope="row">{{ stock.product.id }}</th>
                <td>{{ stock.product.title }}</td>
                <td>{{ stock.product.reference }}</td>
                <td>{{ stock.size.title }}</td>
                <td>{{ stock.color.colorCode }}</td>

                <td>{{ stock.quantity}}</td>
                <td>
                    <a class="btn " href="{{ path('stock', { id:stock.id  }) }}">Déclarer les stocks</a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>



{% endblock %}

{% block title %}
    {{ parent() }}Stocks
{% endblock %}


{% block titre %}

    Stocks
{% endblock %}

