{% extends 'panelAdmin.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Montant</th>
            <th scope="col">Client</th>
            <th scope="col">Statut</th>
            <th scope="col">Détail</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            {% set total=0 %}
            {% for detail in order.details %}
                {% set total= total + detail.quantity * detail.product.price %}
            {% endfor %}

        <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.date | date('d/m/Y') }}</td>

            <td>{{ total }} €</td>
            <td>{{ order.user.lastName }} {{ order.user.firstName }}</td>
            <td>
                {% if order.delivery.status == 0 %} Non traité  {% endif %}
                {% if  order.delivery.status == 1 %} En préparation {% endif %}
                {% if  order.delivery.status == 2 %} Expédié {% endif %}
                {% if order.delivery.status == 3  %} Livré {% endif %}
                {% if  order.delivery.status == 4 %} Annulé {% endif %}
            </td>
            <td><a href="{{ path('detailOrder', {'id': order.id }) }}" class="btn btn-light">Voir le Détail</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

